{% extends 'base.html' %}

{% block css %}
    <style>
        th, tr {
            text-align: center;
        }
    </style>
{% endblock %}

{% block username %}
    {{ user.name }}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 20px;"><b>全部客户信息</b></div>
        <hr>
        <div class="panel-body">
            <div>
                <div class="float-right">
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="搜索...">
                            <span class="mdi mdi-magnify"></span>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">搜索客户</button>
                            </div>
                            <a href="{% url 'customer_add' %}?{{ next }}" class="btn btn-danger btn-sm"
                               style="margin-left: 24px">添加客户</a>
                        </div>
                    </form>
                </div>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="btn-group invisible" id="se">
                    <select class="form-control" name="action">
                        <option selected>---选择操作---</option>
                        <optgroup label="">
                            <option value="public">设为公有</option>
                            <option value="private">设置私有</option>
                        </optgroup>
                        <optgroup label="">
                            <option value="delete">删除</option>
                        </optgroup>
                    </select>
                    <button class="btn btn-success" type="submit">ok</button>
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>#</th>
                        <th>QQ</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>咨询课程</th>
                        <th>班级类型</th>
                        <th>状态</th>
                        <th>咨询日期</th>
                        <th>最后咨询日期</th>
                        <th>咨询记录</th>
                        <th>销售</th>
                        <th>意向班级</th>
                        {% if request.path_info == "/crm/my_customer_list/" %}
                            <th>报名记录</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for customer in all_customer %}
                        <tr>
                            <td><input type="checkbox" value="{{ customer.id }}" name="id"></td>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="/crm/customer/edit/{{ customer.id }}/?{{ next }}">{{ customer.qq }}</a>
                            </td>
                            <td>{{ customer.name|default:'暂无' }}</td>
                            <td>{{ customer.get_sex_display }}</td>
                            <td>{{ customer.course }}</td>
                            <td>{{ customer.get_class_type_display }}</td>
                            <td>
                                {{ customer.show_status }}
                            </td>
                            <td>{{ customer.date }}</td>
                            <td>{{ customer.last_consult_date }}</td>
                            <td><a href="{% url 'consult' customer.id %}">查看</a></td>
                            <td>{{ customer.consultant|default:'暂无' }}</td>
                            <td>{{ customer.show_classes }}</td>
                            {% if request.path_info == "/crm/my_customer_list/" %}
                                <th>
                                    {% if customer.enroll_link == '0' %}
                                        <a href='/crm/enrollment/add/{{ customer.id }}/?{{ next }}'>报名</a>
                                    {% else %}
                                        <a href='{% url 'enrollment' customer.id %}'>查看</a>
                                        <a href='/crm/enrollment/add/{{ customer.id }}/?{{ next }}'>报名</a>
                                    {% endif %}
                                </th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>

        <!-- 页码 -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {{ all_tag }}
            </ul>
        </nav>

    </div>

{% endblock %}

{% block js %}
    <script>
        $('input:checkbox').click(function () {
            {#判断是否至少选中一个复选框#}
            if ($("input:checkbox[name='id']:checked").length > 0) {
                $('#se').removeClass('invisible')
            } else {
                $('#se').addClass('invisible')
            }
        })
    </script>
{% endblock %}
